.messageBubble{
    padding: 1rem;
    background-color: var(--main-color-2);
}
.messageBubble:hover{
    background-color: var(--main-color-lighter);
}
.messageInfo{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}
.messageInfo p{
    opacity: 0.8;
    font-size: 0.8rem;
}
.messageContent{

}