@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;

    --main-color-lighter-2: #3c3d43;
    --main-color-lighter: #37383f;
    --main-color-1: #323338;
    --main-color-2: #2e2f34;
    --main-color-3: #2b2d31;
    --main-color-darker: #28292d;
    --main-color-4: #5a69f1;
    --main-color-5: #8c99ef;

    --gradient-4: linear-gradient(
            0deg,
            rgba(88, 101, 242, 1) 0%,
            rgba(110, 125, 255, 1) 50%,
            rgba(88, 101, 242, 1) 100%
    );

    --gradient-4-2: linear-gradient(
            0deg,
            rgba(71, 82, 196, 1) 0%,
            rgba(88, 101, 242, 1) 50%,
            rgba(71, 82, 196, 1) 100%
    );

    --font-color-1: #fff1f7;
    --font-color-2: #79747d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #323338;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
