.channelsLayout{
    position: relative;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 0;
}