.channelsLayout{
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Ensure flex children can define scroll areas */
    min-height: 0;
}