.channels{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 3.5rem;
    background-color: var(--main-color-2);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1.25rem;
}
.content{
    box-sizing: border-box;
    background-color: green;
    width: 100%;
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.messagesBox{
    flex: 1;
    width: 100%;
}

.draftBox{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 3.7rem;
    max-height: 10rem;
    background-color: var(--main-color-1);
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 1rem;
}
.draftBox textarea{
    width: 100%;
    min-height: 100%;
    text-wrap: wrap;
}