.mainBase{
    flex:1;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0;
    /* Critical for nested scroll areas */
    min-height: 0;
}
.sideBar{
    width: 18rem;
    height: auto;
    background-color: blue;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.conversationDisplay{
    flex:1;
}

.userDisplay{
    box-sizing: border-box;
    height: 3.7rem;
    background-color: red;
    margin: 0.5rem;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sideBarExtend{
    width: 15rem;
    height: auto;
    background-color: red;
}
.mainContent{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* Allow children like Channels > .content to shrink and scroll */
    min-height: 0;
}

.sideBarHeader{
    width: 100%;
    height: 3.5rem;
    background-color: var(--main-color-3);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1.25rem;
}

.sideBarHeader h4{
    width:50%;
}

.createConversationButton{
    width: 50%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
}

.createConversationButton p{
    transition: color 0.15s ease-in-out, transform 0.15s ease-in-out;
    color: #979797;
}
.createConversationButton p:hover{
    cursor: pointer;
    color: white;
    transform: scale(1.2);
}