.conversation {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    height: 3.5rem;
    background-color: #7c7c3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}