.conversation {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    height: 3.5rem;
    background-color: var(--main-color-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.conversation:hover {
    background-color: var(--main-color-lighter);
    cursor: pointer;
}