.loginButton {
    position: relative;
    z-index: 1;
    overflow: hidden;

    padding: 0.5rem 2rem;
    border: none;

    background: var(--gradient-4);
}

.loginButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: var(--gradient-4-2);

    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s ease-in-out;
}
.loginButton:hover::before {
    opacity: 1;
    cursor: pointer;
}
